body {
    padding: 10px;
    /*background-color: rgb(250, 250, 250);*/
    background-image: url("images/noteonworld.png");
}

.glyphicon {
	padding-right: 5px;
}

.jumbotron {
	font-family: Papyrus, fantasy;
}

.form-signin {
	width: 40%;
	margin-left: 15%;
}

#newNote {
	width: 50%;
	height: 175px;
  border-radius: 12px;
}

#viewNote {
	width: 95%;
	height: 275px;
	margin-left: 80px;
	border: 5px solid rgb(230, 230, 230);
  border-radius: 12px;
}

#newPart, #viewPart{
	margin-left: 8%;
	font-size: 18px;
}

#save, #edit, #saveEdit{
	background-color: cornflowerblue;
	display: block;
}

li:hover {
	color: cornflowerblue;
	cursor: pointer;
}

#more {
	background-color: cornflowerblue;
	display: none;
}


.saveArea {
	display: flex;
	float: right;
}

#title {
	border:none;
	font-size: 35px;
	color: blue;
	text-align: center;
}

#result {
	padding-right: 20px;
}

img {
	/*clear:right;*/
}

input {
  border-radius: 5px;
}

.checkbox label {
  font-weight: 600;
}

#choose {
	display: block;
  float: right;
  font-size: 25px;
  color: dimgray;
}

.list-group-item {
 background-color: whitesmoke;
}

#welcome, h2 {
  color: #2268A5;
  font-size: 210%;
}