body { 
    padding: 10px;
}

.glyphicon {
	padding-right: 5px;
}

.jumbotron {
	font-family: Papyrus, fantasy;
}

.form-signin {
	width: 40%;
	margin-left: 15%;
}

#newNote {
	width: 50%;
	height: 175px;
}

#viewNote {
	width: 50%;
	height: 175px;
	margin-left: 80px;
	border: none;
}

#newPart, #viewPart{
	margin-left: 8%;
	font-size: 18px;
}

#save, #edit {
	background-color: cornflowerblue;
	display: block;
}

aside {
	float: left;
	border-right: 1px solid grey;
	width: 20%;
}

li:hover {
	color: cornflowerblue;
	cursor: pointer;
}