body { 
    padding: 10px;
}

.glyphicon {
	padding-right: 5px;
}

.jumbotron {
	font-family: Papyrus, fantasy;
}

.form-signin {
	width: 40%;
	margin-left: 15%;
}

#newNote {
	width: 50%;
	height: 175px;
}

#newPart {
	margin-left: 8%;
	font-size: 18px;
}